@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header id="dtr-header-global" class="fixed-top on-scroll">
    <nav class="navbar navbar-expand-lg dtr-menu navbar-light">
        <div class="container">

            <!-- light logo -->
            <a class="navbar-brand logo-light" href="/">
                <img src="/Content/logo_full_white.png" style="height: 40px;" alt="logo">
            </a>
            <!-- dark logo -->
            <a class="navbar-brand logo-dark" href="/">
                <img src="/Content/logo_full_dark.png" style="height: 40px;" alt="logo">
            </a>

            <!-- nav menu toggler-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>

            <!-- menu starts-->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="dtr-scrollspy navbar-nav ml-auto">
                    <li class="nav-item"> <a class="nav-link" href="/">Home</a> </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#lnk-profit-dashboard">
                            Profit Dashbboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#lnk-listing-assistant">
                            Listing Assistant
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#lnk-business-alerts">
                            Business Alerts
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


<section class="dtr-sticky-tabs-wrapper dtr-border-top">
    
 <section id="features" class="dtr-pt-7 dtr-pb-5 bg-white">
        <div class="container" style="min-height: 900px;">
            <br /><br />
            <h2 class="text-center">Our Team</h2>
            <p class="text-center">
                <br />
            We’re a creative, friendly and diverse bunch, who truly enjoy what we do and the people we work with.
                <br />
                Our team spirit, expertise and perspective helps us create solutions that go far beyond just a good idea.
                <br /><br />
            </p>
            <div class="row mt-5"> 
                
                  <div class="col-12 col-sm-6 col-lg-4  " data--delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: ;">
                    <div class="dtr-feature-box"> <span class="dtr-feature-box-icon"><i class="icon-user-check1"></i></span>
                        <h5>Sales Team</h5>
                      <div>
                          <p>Ivanna Skyba</p>
                            <a href="mailto:billing@sellergear.com">billing@sellergear.com</a> 
                       </div>
                      </div>
                </div>

                  <div class="col-12 col-sm-6 col-lg-4  " data--delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: ;">
                    <div class="dtr-feature-box"> <span class="dtr-feature-box-icon"><i class="icon-user-check1"></i></span>
                        <h5>General Support</h5>
                      <div>
                          <p>Oleh Bundjak</p>
                            <a href="mailto:support@sellergear.com">support@sellergear.com</a> 
                       </div>
                      </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-4  " data--delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: ;">
                    <div class="dtr-feature-box"> <span class="dtr-feature-box-icon"><i class="icon-user-check1"></i></span>
                        <h5>Technical Support</h5>
                      <div>
                          <p>Ivan Moroz</p>
                            <a href="mailto:tech@sellergear.com">tech@sellergear.com</a> 
                       </div>
                      </div>
                </div>

                
            </div>
        </div>
    </section>
</section>


